/* About section  */
.about_contents > p {
   font-style: italic;
   letter-spacing: 1px;
}

.about_contents > p > span {
   color: #00c0da;
   font-style: normal;
   letter-spacing: 1px;
   font-weight: bold;
}

.about_btn {
   margin-top: 3rem;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: start;
   -ms-flex-pack: start;
   justify-content: flex-start;
   gap: 20px;
}

.mkr_about_personal_info {
   padding: 1rem 0;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: start;
   -ms-flex-align: start;
   align-items: flex-start;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}

.mkr_info_list {
   margin: 0 0 0.9rem 0;
}

.mkr_info_list > b {
   margin-right: 1rem;
}

.mkr_skill_sector article h3 {
   text-align: center;
}

.skill_contents {
   padding-top: 2rem;
}

.skill_item {
   width: 100%;
   margin: 0.6rem 0;
}

.skill_item_label {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   margin-bottom: 0.6rem;
}

.skill_item_label > span {
   color: var(--color-dark);
   font-size: var(--font-size-normal);
}

.skill_item_label > span:nth-child(2) {
   -webkit-transform: translateX(-70%);
   transform: translateX(-70%);
}

.progress_bar {
   display: block;
   height: 0.3rem;
   width: 95%;
   background-color: gray;
}

.progress_bar > .progress_level {
   background-color: var(--color-hotpink);
   height: 100%;
}

.fun_fact {
   padding-top: 4rem;
}

.fun_fact > h3 {
   text-align: center;
}

.fun_fact_item {
   width: 100%;
   height: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   margin-bottom: 2rem;
}

.fun_fact_item > span {
   text-align: center;
   color: var(--color-dark);
   font-size: 1.2rem;
}

.fun_fact_item > span:nth-child(1) {
   font-weight: bold;
   font-size: 1.5rem;
}

.info {
   width: 100%;
   position: relative;
   padding: 10px 0;
   margin-top: 100px;
}

.info > h2::before {
   content: "";
   bottom: 0;
   height: 4px;
   width: 20%;
   background-color: var(--color-dark-alt);
   display: block;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   position: absolute;
}

.info_header {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.tab_btn {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   cursor: pointer;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
   position: relative;
   width: 100%;
   padding: 1% 0 2% 0;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   color: var(--color-dark);
}

.tab_btn > i {
   margin-right: 5%;
}

.tab_btn > h4 {
   color: var(--color-dark);
   -webkit-transition: all 0.5s linear;
   transition: all 0.5s linear;
   font-size: 1.1rem;
}

.tab_btn.active,
.tab_btn.active:nth-child(2) {
   color: var(--color-dark);
   position: relative;
}

.tab_btn.active::before,
.tab_btn.active:nth-child(2)::before {
   content: "";
   position: absolute;
   width: 10%;
   height: 3px;
   bottom: 0;
   left: 50%;
   background-color: var(--color-dark);
   z-index: 1;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

.tab_btn.active > h4,
.tab_btn.active:nth-child(2) > h4 {
   color: var(--color-dark-alt);
}

.tab_btn.active > h4:hover,
.tab_btn.active:nth-child(2) > h4:hover {
   color: unset;
}

.info_contents {
   position: relative;
}

.info_panel {
   display: none;
   padding: 5%;
   border-top-right-radius: 5px;
   border-top-left-radius: unset;
}

.info_panel.active {
   display: block;
}

.info_panel:nth-child(2) {
   border-top-left-radius: 5px;
   border-top-right-radius: unset;
}

.info_card {
   border-left: 7px solid var(--color-dark);
   padding: 1rem 0;
   width: 50%;
}

.info_card_text {
   position: relative;
   margin-left: 5%;
}

.info_card_text::before,
.info_card_text::after {
   content: "";
   background-color: var(--color-dark);
   position: absolute;
   top: 50%;
   display: block;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   -webkit-transition: all 0.5s linear;
   transition: all 0.5s linear;
}

.info_card_text::before {
   height: 5px;
   width: 6%;
   left: -3%;
}

.info_card_text::after {
   height: 1rem;
   width: 1rem;
   border-radius: 50px;
   left: -6%;
   border: 3px solid var(--color-dark);
}

.info_card_text:hover {
   -webkit-box-shadow: none;
   box-shadow: none;
}

.info_card_text:hover::after {
   background-color: var(--color-hotpink);
}

.info_card_text > h6 {
   color: var(--color-dark);
}

.info_card_text > h6 > i {
   color: var(--color-dark);
   margin-right: 8px;
   font-size: 1em;
}

.info_card_text > p {
   font-size: var(--font-size-small);
   color: var(--color-hotpink);
   margin: 0;
}

.info_card_text > span {
   color: var(--color-dark);
   display: block;
   font-size: var(--font-size-small);
}

.info_card_text > article > ul > li {
   list-style: square;
}

.personal_info_ul {
   width: 70%;
   margin: auto;
}

.personal_info_ul > li {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   margin: 15px 0;
   border-bottom: 1px solid gray;
}
.personal_info_ul > li .p_label {
   color: var(--color-dark);
   font-weight: bold;
}
.personal_info_ul > li .p_info {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   margin-left: 8px;
   word-break: break-all;
}

/* media query for qulafication section start.. */
@media (max-width: 577px) {
   .tab_btn.active::before,
   .tab_btn.active:nth-child(2)::before {
      width: 25%;
   }
}

@media (max-width: 769px) {
   .tab_btn {
      padding-top: 3%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
   }
   .tab_btn > h3 {
      z-index: 99;
   }
}

/* media query for qulafication section start.. */
.portf_tab {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.portf_tab button {
   margin: 0.3rem 0.2rem;
}

.portf_project {
   -webkit-transition: all 0.9s linear;
   transition: all 0.9s linear;
   -webkit-animation: fadeIn 0.8s ease-in-out;
   animation: fadeIn 0.8s ease-in-out;
}

@-webkit-keyframes fadeIn {
   0% {
      opacity: 0;
   }
   25% {
      opacity: 0.2;
   }
   50% {
      opacity: 0.5;
   }
   75% {
      opacity: 0.7;
   }
   100% {
      opacity: 1;
   }
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }
   25% {
      opacity: 0.2;
   }
   50% {
      opacity: 0.5;
   }
   75% {
      opacity: 0.7;
   }
   100% {
      opacity: 1;
   }
}

.card_article h6 {
   color: var(--color-hotpink);
}

.card_article .portf_tech {
   padding-bottom: 1rem;
}

.card_article .portf_tech strong {
   font-size: 0.8rem;
}

.card_article .portf_fetures > ul {
   padding: 0 0 0 0.9rem;
}

.card_article .portf_fetures > ul > li {
   list-style: square;
   font-size: 0.8rem;
}

.card_article .portf_fetures .link_container {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: end;
   -ms-flex-pack: end;
   justify-content: flex-end;
}

.card_article .portf_fetures .link_container > a {
   margin: 0 0 0 2rem;
   color: var(--color-chocolate);
}

.card_article .portf_fetures .link_container > a:hover {
   text-decoration: underline;
}

/* About section end  */
@media (max-width: 567px) {
   .info_card {
      width: 98%;
   }

   .personal_info_ul {
      width: 100%;
   }
}
